# startmas.sh
build/*
server.txt
work/*
conf/mas/
log/*
conf/ambulance.txt
conf/ambulance1.txt
conf/ambulance2.txt
conf/dispatcher.txt
conf/mainDispatcher.txt
conf/fireRescue1.txt
conf/drone1.txt
conf/drone2.txt
conf/fireFighter1.txt
conf/fireFighter2.txt
src/
